server:
  port: 8000

spring:
  application:
    name: F1 ELO System
  datasource:
    url: jdbc:postgresql://localhost:5432/f1_elo
    username: local
    password: local
    driver-class-name: org.postgresql.Driver
  flyway:
    baselineOnMigrate: true

jolpi-f1:
  base-url: https://localhost:8080

cron:
  job:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"
  endpoint:
    health:
      show-details: always